@media(max-width:700px) {
    .intro {
        height: 500px;

        &-content {
            text-align: center;
            font-weight: 300;

            img {
                display: none;
            }
        }
    }

    .skills {


        &-content {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            text-align: center;

        }
    }

}