@media(max-width:600px) {
    .intro {
        height: 500px;

        &-content {
            text-align: center;
            font-weight: 200;

            img {
                display: none;
            }
        }
    }

    .skills {


        &-content {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            text-align: center;

        }
    }
     .card img{
         width: 100%;
        
     }
     
}


